body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}
/* form表单 margin-bottom */
.el-form-item {
  margin-bottom: 0!important;
}

/*
菜单栏 悬浮样式 和选中样式
*/
.el-menu-item, .el-submenu__title{
  padding: 0;
  height: 40px!important;
  line-height: 40px!important;
  background: #f3f3f5;
}
.el-menu-item.is-active{
  background: #dddde1;
  color: #000;
  // border-left: 3px solid #bc2f2e;
  border-left: 3px solid #3749c1;  
  transition:background 0.2s ease-in-out;
}
.el-menu-item:hover {
  background: #e8e8eb;
}
/*validate-text 样式*/
.validate-text {
  color: #f00;
  font-size: 12px;
  width: 80%;
  margin: 0 auto;
}